name: testBuild

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Test with Maven
      run: mvn -B clean test -f pom.xml

  build:
    runs-on: ubuntu-20.04
    needs: [test]

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v2

  deploy:
    runs-on: ubuntu-20.04

    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Deploy app
        uses: citizen-of-planet-earth/cf-cli-action@master
        with:
          cf_api: https://api.cf.datev.cloud
          cf_username: ${{ secrets.CF_USER }}
          cf_password: ${{ secrets.CF_PASSWORD }}
          cf_org: helloworld
          cf_space: github
          command: push -f manifest.yml
